PORT=8044
DATABASE_URL=postgres://repvolunteers:repvolunteers@localhost:54322/repvolunteers
DATABASE_URL_DOCKER=postgres://repvolunteers:repvolunteers@repvolunteers-db:5432/repvolunteers
SESSION_SECRET=
RESEND_API_KEY=
BASE_URL=http://localhost:8044
PUBLIC_BASE_URL=http://localhost:8044
FROM_EMAIL=theatre@example.com
FROM_NAME=Adelaide Rep Theatre Shifts
DENO_ENV=development
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:8044
MICROSOFT_TENANT_ID=f712616c-2a6e-418a-be36-19ae71392185
MICROSOFT_CLIENT_ID=2d262235-317a-4bf3-9608-0414d2a015c9
MICROSOFT_CLIENT_SECRET=
MICROSOFT_ADMIN_GROUP_ID=0b1ba073-9b97-4349-b517-f6b8d88688b1
